<apex:component controller="LCBS_ContractorInviteDelegate_Controller" access="global">
    <apex:attribute name="contactid" type="String" description="Contact Id" assignTo="{!Contractor}"/>
 <!-- <apex:attribute name="AccountId" description="Account Id" type="Id" assignTo="{!AcctId}" />
<apex:attribute name="AccountContactName" description="Account Name" type="String" assignTo="{!AcctName}" /> -->
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
   <Style type="text/css">
 .logo {
    /* background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png'); */

    background: url('https://cbplcbs01qagbldevlcbsweb.cloudapp.net/Content/img/logo.png'); 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250rem; /*20px;*/
    margin-right: 1.250rem; /*20px;*/
}
       
       
    .lcbs-mail-box{
        
        
    }
    .lcbs-mail-header{
        font-size: 14px;
        clear: both;
        display: inline-block;
    }
    .lcbs-mail-header > .logo{
        float: left;
        display: block;
        height: 20px;
        line-height: 50px;
        width: 100px;
        margin-right: 20px;
        /* vertical-align: middle; */
        background-size: 100px 20px;
        margin-top: 3px;
    }
    .lcbs-mail-header > .pipe{
        float: left;
        display: block;
        height: 45px;
        border-left: solid 1px #e1e1e1;
        /* margin-top: 13px; */
        width: 1px;
    }
    .lcbs-mail-header > h1.title{
        float: left;
        display: inline-block;
        height: 0;
        /* line-height: 50px; */
        margin-left: 20px;
        font-size: 16px;
        color: #A0A0A0;
        font-weight: normal;
        margin-top: 3px;
    }
    .lcbs-second-header{
        margin-bottom: 25px;
        margin-bottom: 25px;
        font-size: 7px;
    }
    
    .lcbs-second-header > table td{
        padding:6px;
    }
    .lcbs-second-header > table td.pad-left-0{
        padding-left:0px;
    }
    .lcbs-second-header > table td.initial{
        color: initial;
    }
    .lcbs-mail-body{
        padding-top:25px;
        border-top: 2px solid #e1e1e1
    }
    .lcbs-mail-body > h1.mail-body-header{
        font-size:14px;
        margin-bottom:20px;
    }
    .lcbs-mail-body > .mail-body-content{
        
    }
    #img-logo{
        width:100px;
    }
    
    
  
  </Style>
  <style>
      table{
          mso-table-lspace:0pt;
          mso-table-rspace:0pt;
      }
      img{
        -ms-interpolation-mode:bicubic;
      }
  </style>
  <html>
  <body>
  <form>
      <!-- Temp -->
      <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="20" style='font-family:sans-serif;'>
          <tbody>
              <tr>
                  <td>
                      <table align="center" width="65%" height="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#e1e1e1" style="max-width:625px;min-width:625px;">
                          <tbody>
                              <tr>
                                  <td valign="top" align="center">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                          <tbody>
                                              <tr>
                                                  <td height="43">
                                                      <table width="100%" border="0" cellspacing="12" cellpadding="0" style="padding-left:28px;padding-right:28px;">
                                                          <tbody>
                                                              <tr>
                                                                  <td align="left" valign="top" style="color: #848484;font-weight: 600;">
                                                                      <!-- <img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.ImageServer?id=015g0000001BLG2&oid=00Dg0000003Nq6j&lastMod=1451459111000"/> -->
                                                                      <!--<img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.FileDownload?file=015g0000001Baonoid=00Dg0000003Nq6j&lastMod=1451459111000" />-->
                                                                      <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!logo.id}&oid={!orgid}" style="vertical-align: middle;"/>
                                                                      <!-- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<font face='sans-serif' color="#848484">LCBS Connect</font> -->
                                                                  </td>
                                                              </tr>
                                                              
                                                              <tr>
                                                                  <td>
                                                                      <table cellpadding="0" cellspacing="0" style='color: #707070;font-size:12px;padding-bottom: 17px;border-bottom: 2px solid #e1e1e1;font-family:sans-serif;' width="100%">
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">From:</font></td>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!invitedContact.Email}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">TO:</font></td>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!cc.Email}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">Date:</font></td>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!d}</font></td>
                                                                            </tr>
                                                                      </table>
                                                                  </td>
                                                              </tr>
                                                              
                                                              <tr>
                                                                  <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> Dear {!cc.Name} </font>
                                                                  </td>
                                                              </tr>
                                                              
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'><strong> We have recently been selected to market Honeywell’s new light commercial building solution LCBS Connect.</strong></font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> The LCBS Connect solution empowers us to remotely monitor, manage, and control HVAC equipment.  We increase business efficiency by providing timely insight into the operation of the equipment under service contracts, leading to enhanced customer satisfaction and valuable service contract retention. </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> Your role will be important to our organization.  You will be provided the capability to remotely monitor and manage buildings we have under contract.  The information that you will have access to, will allow you to provide efficient and effective service to our customers. </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> To get started, we have issued you a user name and temporary password. </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                        <table cellpadding="0" cellspacing="0" style='font-family:sans-serif;' width="100%">
                                                                            <tr>
                                                                                <td style="padding:0px;" align="left"><font face='sans-serif'> User Name: {!userName} </font></td>                                                                               
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px;" align="left"><font face='sans-serif'> Temporary Password: {!password} </font></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> Please go to <a href="#">www.lcbs.honeywell.com </a> to establish your permanent password and password recovery. </font>
                                                                    </td>
                                                                </tr>
                                                                 <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                    <font face='sans-serif'>
                                                                    <apex:outputPanel rendered="{!conTerms}">
                                                                       If you have any questions about our privacy terms and terms of use, please click here: <a href="{!$Label.LCBS_ConfirmContractor_URL}?id={!contractor}">LCBS Connect Contractor Agreement </a>
                                                                </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!distTerms}">
                                                                       If you have any questions about our privacy terms and terms of use, please click here: <a href="{!$Label.LCBS_ConfirmContractor_URL}?id={!contractor}">LCBS Connect Distributor Terms of Agreement </a>
                                                                    </apex:outputPanel>
                                                                       </font>
                                                                    </td>
                                                                </tr>
                                                                 <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                     <font face='sans-serif'>   
                                                                        We look forward to working with you as you move forward with this exciting program.  If you have any questions, please contact your local Honeywell Account Executive {!executive_name} at <a href="mailto:{!executive_email}">{!executive_email}</a>, <a href="tel:{!executive_phone}">{!executive_phone}</a>
                                                                     </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <!--
                                                                <tr><td>
                                                                    <table cellpadding="0" cellspacing="0" style="font-size:14px;margin-bottom:20px;" width="100%">
                                                                        <tr>
                                                                            <td style="padding-bottom:15px;">
                                                                                <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!sign.id}&oid={!orgid}" width="135px" height="50px"/>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding-bottom:15px;">
                                                                                Larry Weber
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Vice President and General Manager
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding-bottom:15px;">Honeywell</td>
                                                                        </tr>
                                                                    </table>
                                                                    </td>
                                                               </tr>
                                                                -->
                                                               
                                                               <tr>
                                                                   <td align="left" style="padding-bottom:10px;">
                                                                        <table cellpadding="15" cellspacing="0" style="font-size:14px;" bgcolor="#1483cd" >
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <font face='sans-serif'> <a href="{!$Label.Azure_Endpoint}" style="padding: 15px;background: #1483cd;text-decoration: none;color: #fff;" >GET STARTED NOW</a> </font>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                                                                               
                                                                <tr>
                                                                    <td align="left">
                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size:12px;color:#707070;border-top:2px solid #e1e1e1;padding-top:15px;padding-bottom:15px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                       <font face='sans-serif'> &copy; 2016 Honeywell International Inc </font>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>                            
                                                              
                                                              
                                                         </tbody>
                                                      </table>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
      <!-- Temp -->
      <br/><br/>
</form>
</body>
</html>
</apex:component>