<!--------------
Name         : LCBSEditMyCompanyProfile
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : Honeywell-LCSB
Created Date : Mar 20, 2015
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : 
---------->
<apex:page controller="LCBS_MyCompanyProfile_Controller" showChat="false" showHeader="false" sidebar="false">
<apex:form >
<apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
<script>
             j$ = jQuery.noConflict();
             j$(document).ready( function () {
             j$('.dropdown-toggle').dropdown();
             });
</script>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    

    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<apex:actionFunction name="changeCompanyProfile" action="{!ChangeCompanyProfile}"/> 
<!-- <apex:actionFunction name="InsertCompanyProfile" action="{!InsertCompanyProfile}"/> -->

  <c:LCBSCommunityHeader />
 <apex:outputPanel > 
<div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
               <h1>Edit Company Profile</h1>
            </div>   
<br/>
  <apex:pagemessages /> <br/>
<div class="container">
<div class="col-md-12">
<div class="row">

<div class="row">
<form>
  <div class="col-md-8">

  <div class="form-group">
    <label for="exampleCompanyName">Company name</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Name}" required="true"/> </p>
  </div>
 
   <div class="form-group">
    <label for="exampleCompanyName">Address</label>
    <p> <apex:inputText value="{!acct.shippingStreet}" Styleclass="form-control" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">City</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.shippingCity}"/> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Country</label>
    
  <!--  <p> 
        <apex:selectList value="{!acct.shippingCountry}" size="1" Styleclass="form-control" style="padding-top: 2px;">
            <apex:selectOptions value="{!CountryOption}"> </apex:selectOptions>
            <apex:actionSupport event="onchange" reRender="state"/> 
        </apex:selectList>
       
      
    </p>-->
    <p>
    <apex:inputField Styleclass="form-control" value="{!acct.Country__c}" style="padding-top:2px;"/> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">State</label>
    
   <!-- <p>
        <apex:outputPanel id="state" >
            <apex:selectList value="{!acct.shippingState}"  size="1" Styleclass="form-control" style="padding-top: 2px;" disabled="{!IF(acct.shippingCountry!= NULL && user.account.shippingCountry!= '' && user.account.shippingCountry!= '--Please Select--',false,true)}"  >
                <apex:selectOptions value="{!StateOption}"> </apex:selectOptions>
            </apex:selectList>
        </apex:outputPanel> 
       
      
    </p> --> 
    <p>
    <apex:inputField Styleclass="form-control" value="{!acct.State__c}" style="padding-top:2px;"/> </p>
  </div>
  
   <div class="form-group">
    <label for="exampleCompanyName">Postal code</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.shippingPostalCode}"/> </p>
  </div>
  <div class="form-group">
    <label for="examplePhone">Phone number</label>
   
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Phone}"/> </p>
  </div>
  <div class="form-group">
    <label for="exampleEmail">Email address</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Email__c}" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Time Zone</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Time_Zone__c}" style="padding-top: 2px;"/> </p>
    
  </div>
<div class="col-md-9">

<input type="button" style="background:#3784DE;width:15%;height:35px;text-align:center;border-radius:2px;" value="Save" name="button" class="button" onclick="changeCompanyProfile();"/>&nbsp;&nbsp;

<apex:commandButton action="{!cancelInsertLocation}" immediate="true" value="Cancel" styleClass="btn btn-default" style="height:35px"/>

</div>

</div>
</form>
</div>
</div>

</div>
</div>
</apex:outputPanel> 

<br/> <br/>
 <!-- <apex:outputPanel rendered="{!NewCompanyProfile}" > 
<div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
               <h1>Complete Your Company Profile</h1>
            </div>   
<br/>
  <apex:pagemessages /> <br/>
<div class="container">
<div class="col-md-12">
<div class="row">

<div class="row">
<form>
  <div class="col-md-8">

  <div class="form-group">
    <label for="exampleCompanyName">Company name</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Name}" required="true"/> </p>
  </div>
 
   <div class="form-group">
    <label for="exampleCompanyName">Address</label>
    <p> <apex:inputText value="{!AccountInfo.shippingStreet}" Styleclass="form-control" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">City</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.shippingCity}"/> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Country</label>
    
    <p> 
        <apex:selectList value="{!AccountInfo.shippingCountry}" size="1" Styleclass="form-control" style="padding-top: 2px;">
            <apex:selectOptions value="{!countryoption}"></apex:selectOptions>
            <apex:actionSupport event="onchange" reRender="state"/>
        </apex:selectList>
     
    </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">State</label>
    
    <p>
        <apex:outputPanel id="state1">
            <apex:selectList value="{!AccountInfo.shippingState}" size="1" Styleclass="form-control" style="padding-top: 2px;" disabled="{!IF(AccountInfo.shippingCountry!= NULL && AccountInfo.shippingCountry!= '' && AccountInfo.shippingCountry!= '--Please Select--',false,true)}">
                <apex:selectOptions value="{!stateoption}"></apex:selectOptions>
            </apex:selectList>
        </apex:outputPanel>
     
    </p> 
  </div>
  
   <div class="form-group">
    <label for="exampleCompanyName">Postal code</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.shippingPostalCode}"/> </p>
  </div>
  <div class="form-group">
    <label for="examplePhone">Phone number</label>
   
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Phone}"/> </p>
  </div>
  <div class="form-group">
    <label for="exampleEmail">Email address</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Email__c}" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Time Zone</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Time_Zone__c}" style="padding-top: 2px;"/> </p>
    
  </div>
<div class="col-md-9">

<input type="button" style="background:#3784DE;width:15%;height:35px;text-align:center;border-radius:2px;" value="Save" name="button" class="button" onclick="InsertCompanyProfile();"/>&nbsp;&nbsp;

<apex:commandButton action="{!cancelInsertLocation}" immediate="true" value="Cancel" styleClass="btn btn-default" style="height:35px"/>

</div>

</div>
</form>
</div>
</div>

</div>
</div>
</apex:outputPanel> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>





</apex:form>
</apex:page>