<!--------------
Name         : LCBS_Index
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page sidebar="false" showHeader="false" showChat="false">
 <apex:form >

<html >
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js">
          </script>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sticky-footer.css" rel="stylesheet"/>

    <!-- Custom styles for Honeywell LCBS template -->
    <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <br/>
  <br/>
    <div class="container">


       <a href="signin-honeywell.html" class="btn btn-primary btn-lg btn-block" role="button" style="background:#3784DE;height:45px;border-radius:2px;color:white;font-size:20px;padding-top:7px;font-weight: normal;">Honeywell Sales sign in</a>
       <!--<apex:commandButton styleClass="btn btn-primary btn-lg btn-block" title="Honeywell Sales sign in"/>-->

        <a href="/apex/LCBS_Distributor_SignIn" class="btn btn-primary btn-lg btn-block" role="button" style="background:#3784DE;height:45px;border-radius:2px;color:white;font-size:20px;padding-top:7px;font-weight: normal;">Distributor sign in</a>

        <a href="/apex/LCBS_Contractor_SignIn" class="btn btn-primary btn-lg btn-block" role="button" style="background:#3784DE;height:45px;border-radius:2px;color:white;font-size:20px;padding-top:7px;font-weight: normal;">Contractor sign in</a>

        

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
</apex:form>
</apex:page>