<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
 

<html>

    <body>
        <h2 style="font-size:300%">Under Construction..</h2>
    </body>

</html>
 
</apex:page>